@import "../../styles/_variables.scss";

.categoriesList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
  margin-right: 20%;
}

.categoriesListItem {
  border: 1px solid $orange;
  border-radius: $borderRadius;
  padding: $padding10;
  @include scale-item;
}

.active {
  border: 1px solid #ccc;
  padding: 2em 1em;
  border-radius: $borderRadius;
}
