$widthBody: 80%;

// colors
$darkgrey: #434343;
$orange: #fe5f1e;
$white: #fff;

// margin & padding
$marginTop1: 1em;

// styles
$borderRadius: 5px;
$padding10: 10px;

// font size
$mobileMenuLinks: 2rem;

// hover
$scaleSize: 1.1;
$transitionHover: 0.2s linear;

// mixins
@mixin scale-item {
  cursor: pointer;
  transition: all $transitionHover;

  &:hover {
    scale: $scaleSize;
  }
}

@mixin layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1260px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;

  @media (max-width: 1168px) {
    padding: 1rem 2rem 2rem 2rem;
  }
}
