.petsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.petImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 1em;
}

.petImg {
  width: 200px;
  max-width: 100%;
  border-radius: 1rem;
  overflow-clip-margin: content-box 5px;
}
