.petImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 1em;
}

.petImg {
  background-position: center center;
  width: 30%;
  border-radius: 60%;
}
