@import "../../variables.scss";

.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.headerWrapper {
  display: flex;
  width: 100%;
  background-color: #434343;
}

.headerLayout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px;
}

.logoLayout {
  display: flex;
  flex-grow: 3;
}

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 4px 4px 35px 18px rgba(247, 65, 0, 0.35);
  }
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  flex-grow: 1;
}

.layoutMaxWidth {
  @include layout;
}
