@use "../../variables.scss";

.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: #434343;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 4px 4px 35px 18px rgba(247, 65, 0, 0.35);
  }
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
