@import "../../styles/_variables.scss";

.layoutMaxWidth {
  @include layout;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  flex-shrink: 0;
  width: 100%;

  & a {
    color: white;
  }
}

.footerBody {
  background-color: $darkgrey;
  width: 100%;
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.socialIconLink {
  @include scale-item;
}

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 0 1em 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 4px 4px 35px 18px rgba(247, 65, 0, 0.35);
  }
}
