@import "../../variables.scss";

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $darkgrey;
  color: white;
  flex-shrink: 0;
  padding: 2em;

  & a {
    color: white;
  }
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.socialIconLink {
  cursor: pointer;
  transition: all $transitionHover;

  &:hover {
    scale: $scaleSize;
  }
}

.footerBody {
  width: $widthBody;
}
