@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Dosis:wght@300;400;500;700&family=Inter:wght@400;600;700&display=swap');

:root {
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition: color .2s linear;
}

a:hover {
  color: #d89117;
  display: inline-block;
  position: relative;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;
  -webkit-padding-start: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}